.rating-container2-score {
  font-size: 3vh;
  border-radius: 10%;
  border: 10px solid #bd958a;
  justify-content: center;
}

.rating-container2 {
  font-size: 3vh;
  border-radius: 10%;
  border: 10px solid #bd958a;
}
